.limited-text {
  max-width: 200px !important;  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tag-td {
  display: inline-flex;
  align-items: center;
  background-color: #e0f7fa;
  padding: 4px 8px;
  margin-right: 5px;
  border-radius: 5px;
  font-size: 14px;
  color: #00796b;

}

.container-btn-new-knowerror {
  display: flex;
  width: 100%;
  padding: 10px 10px 10px 10px;
  justify-content: end;
}