.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #ffffff;
    font-size: 11px;
    height: 42px;
    border-top: 1px solid #f1f5f9;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.03);
    transition: margin-left 0.3s ease;
}

.footer p {
    color: #94a3b8;
    margin: 0;
}

.footer-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #ffffff;
    font-size: 11px;
    height: 42px;
    border-top: 1px solid #f1f5f9;
    width: 100%;
}

.footer-login p {
    color: #94a3b8;
    margin: 0;
}